@import url("/css/paginas.css");
@import url("/css/variables.css");
.button--border
{
  border: solid 1px var(--negro);
}
.Modicicacion:hover{
  font-size: 25px;
  transition: 1s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* David modificacion 1 */
.Modicicacion--David{
  font-size:15px;
}
.Modicicacion--David:hover{
  font-size: 25px;
  transition: 1s;
  background-color:var(--Azul_marino);
  color: var(--blanco);
}


/* Yariangel modificacion 2 */

.Modicicacion--Yariangel{
  color: var(--blanco);
  font-size:15px;
  font-family:cursive;
}
.Modicicacion--Yariangel:hover{
  background-color: var(--Verde_Claro);
  color: var(--blanco);
}


/* Kevin=modificacion#3 */

.Modicicacion--Kevin{
  color: brown;
  filter: drop-shadow( 0 0 1px var(--negro));
}
.Modicicacion--Kevin:hover{
  background-color: var(--Lila_intenso);
  color: var(--blanco);
}


/* Manuel modificacion 4 */

.Modicicacion--Manuel{
  color: var(--Vinotino);
}
.Modicicacion--Manuel:hover{
  background-color: var(--gris_oscuro);
  color: var(--blanco);
}