@import url("/css/paginas.css");
@import url("/css/variables.css");

.caja__Interfaz{
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  height: 600px;
  width: 600px;;
  background-color: var(--Azul_submarino);
  display: grid;
  grid-template-columns: [modificaciones] 300px[Nombre]50%;
  grid-template-rows: [linea_1] 70px [linea_2] 70px [linea_3] 70 [linea_4] 70px;
  align-items: center;
}

.button--border
{
  border: solid 1px var(--negro);
}
.Modicicacion:hover{
  font-size: 25px;
  transition: 1s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* David modificacion 1 */
.Modicicacion--David{
  font-size:15px;
}
.Modicicacion--David:hover{
  font-size: 25px;
  transition: 1s;
  background-color:var(--Azul_marino);
  color: var(--blanco);
}


/* Yariangel modificacion 2 */

.Modicicacion--Yariangel{
  color: var(--blanco);
  font-size:15px;
  font-family:cursive;
}
.Modicicacion--Yariangel:hover{
  background-color: var(--Verde_Claro);
  color: var(--blanco);
}


/* Kevin=modificacion#3 */

.Modicicacion--Kevin{
  color: brown;
  filter: drop-shadow( 0 0 1px var(--negro));
}
.Modicicacion--Kevin:hover{
  background-color: var(--Lila_intenso);
  color: var(--blanco);
}


/* Manuel modificacion 4 */

.Modicicacion--Manuel{
  color: var(--Vinotino);
}
.Modicicacion--Manuel:hover{
  background-color: var(--gris_oscuro);
  color: var(--blanco);
}